#RERUM API access keys
ACCESS_TOKEN=token
REFRESH_TOKEN=short-token

# API URLS (for RERUM instance)
RERUM_REGISTRATION_URL = https://devstore.rerum.io/v1/
RERUM_API_ADDR = https://devstore.rerum.io/v1/api/
RERUM_ID_PATTERN = https://devstore.rerum.io/v1/id/
RERUM_ACCESS_TOKEN_URL = https://devstore.rerum.io/v1/client/request-new-access-token

# TPEN Services origins array.  Only these origins will successfully navigate CORS.
SERVICES_ORIGINS = https://dev.api.t-pen.org,http://dev.api.t-pen.org

#Make this value true if you plan to use this as a public API.
OPEN_API_CORS = false

PORT = 3333

# Outgoing RERUM fetch timeout in milliseconds. Defaults to 30000 if unset, empty, non-numeric, or <= 0.
#RERUM_FETCH_TIMEOUT_MS = 30000

# Maximum allowed value for the `limit` query param on /query. Defaults to 500 if unset, empty, non-numeric, or <= 0.
#RERUM_MAX_QUERY_LIMIT = 500

# Maximum allowed value for the `skip` query param on /query. Defaults to 100000 if unset, empty, non-numeric, or < 0.
#RERUM_MAX_QUERY_SKIP = 100000
